#jeu {
	display: flex;
}
#x1y1, #x1y2, #x1y3, #x2y1, #x2y2, #x2y3, #x3y1, #x3y2, #x3y3{
	border:solid;
	width: 50px;
	height: 50px;
}

.player1{
	background-color: green;
}

.player2{
	background-color: red;
}
